<div class='jumbotron jumbotron-fluid'>
  <div class='container'>
    <h1 class='display-4'>Fluid jumbotron</h1>
    <p class='lead'>This is a modified jumbotron that occupies the entire
      horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center">Posts</h2>
  </div>
</div>

<div class='container'>
  {{#each posts as |post|}}
    <div class='card mb-4 post' data-postid="{{post.id}}">
      <div
        class='card-header d-flex justify-content-between align-items-center'
      >
        <h3 class='col-7'>
          {{post.title}}
        </h3>
        <p class='col-5 text-right'>
          Posted By
          {{post.user.username}}
          on
          {{format_date post.time}}
        </p>
      </div>
      <article class='card-body'>
        <p class='card-text'>
          {{post.body}}
        </p>
      </article>
    </div>
  {{else}}
    <div class='card mb-5'>
      <h2 class='card-body text-center'>
        No Posts Yet!
      </div>
    </div>
  {{/each}}
</div>